@if (tipoPistas.length > 0) {
    <table class="table table-hover" style="margin-top: 10%;">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @for (pista of tipoPistas; track $index) {
                <tr>
                    <td>{{pista.descripcion}}</td>
                    <td>{{pista.precio}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm mx-2" (click)="eliminarTipoPista(pista.id)">Eliminar</button>
                        <button class="btn btn-primary btn-sm mx-2" (click)="modificarTipoPista(pista)">Modificar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}@else {
    <section class="alert alert-warning my-5">No hay tipos de pista en la base de datos</section>
}