<nav class="navbar navbar-expand-sm fixed-top varbar-success bg-success">
    <a class="navbar-brand text-white" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <section class="collapse navbar-collapse" id="menu">
        <nav class="navbar-nav">
            <a href="" class="nav-link text-white">Pistas</a>
            <a href="" class="nav-link text-white">Reservas</a>
            <a href="" class="nav-link text-white">Abonados</a>
            <a href="" class="nav-link text-white">Trabajadores</a>
        </nav>
        <section class="row">
            <input type="button" class="btn btn-primary mr-md-2" value="Iniciar Sesión">
            <input type="button" class="btn btn-primary mr-md-2" value="Registrarse">
        </section>
    </section>
</nav>

