@if (pistas.length > 0) {
<table class="table table-hover">
    <thead>
        <tr>
            <th>Tipo de Pista</th>
            <th>Estado</th>
            <th>Techado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @for (pista of pistas; track $index) {
        <tr>
            <td>{{pista.tipoPista.descripcion}}</td>
            <td>{{pista.estado}}</td>
            <td>{{pista.techado ? "Si": "No"}}</td>
            <td>
                <button class="btn btn-danger btn-sm mx-2" (click)="eliminarPista(pista.id)">Eliminar</button>
                <button class="btn btn-primary btn-sm mx-2" (click)="modificarPista(pista.id)">Modificar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
} @else {
<section class="alert alert-warning">No hay pistas en la base de datos</section>
}