<section class="py-5">
    <form action="" id="frmLogin" method="post">
        <h1 class="text-center">Detalle de Usuario</h1>
        <section class="row">
            <section class="col-sm-3 form-group">
                <label for="pista" class="col-form-label">Pista:</label>
            </section>
            <section class="col-sm-3 form-group">
                <label for="tipoHora" class="col-form-label">Hora de la reserva:</label>
            </section>
            <section class="col-sm-3 form-group">
                <label for="abonado" class="col-form-label">Abonado:</label>
            </section>
            <section class="col-sm-3 form-group">
                <label for="fechaReserva" class="col-form-label">Fecha de la reserva:</label>
                <input id="fechaReserva" type="date" class="form-control form-control-sm" placeholder="Fecha" required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="precio" class="col-form-label">Precio de la reserva:</label>
                <input id="precio" type="text" class="form-control form-control-sm" placeholder="Precio de la reserva" disabled>
            </section>
        </section>
        <section class="form-group my-2">
            <button class="col-sm-1 mx-1 btn btn-primary btn-sm">Guardar</button>
            <button class="col-sm-1 mx-1 btn btn-danger btn-sm">Cancelar</button>
        </section>
    </form>
</section>