<section class="py-5">
    <form action="" id="frmLogin" method="post">
        <h1 class="text-center">Detalle de Abonado</h1>
        <section class="row">
            <section class="col-sm-3 form-group">
                <label for="dni" class="col-form-label">DNI:</label>
                <input id="dni" type="text" class="form-control form-control-sm" placeholder="DNI" required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="nombre" class="col-form-label">Nombre:</label>
                <input id="nombre" type="text" class="form-control form-control-sm" placeholder="Nombre" required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="apellido1" class="col-form-label">Apellido 1:</label>
                <input id="apellido1" type="text" class="form-control form-control-sm" placeholder="Apellido 1"
                    required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="apellido2" class="col-form-label">Apellido 2:</label>
                <input id="apellido2" type="text" class="form-control form-control-sm" placeholder="Apellido 2"
                    required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="fechaNacimiento" class="col-form-label">Fecha de nacimiento:</label>
                <input id="fechaNacimiento" type="text" class="form-control form-control-sm"
                    placeholder="Fecha de nacimiento" required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="telefono" class="col-form-label">Telefono:</label>
                <input id="telefono" type="text" class="form-control form-control-sm" placeholder="Teléfono" required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="direccion" class="col-form-label">Dirección:</label>
                <input id="direccion" type="text" class="form-control form-control-sm" placeholder="Direccion" required>
            </section>
        </section>
        <section class="form-group my-2">
            <button class="col-sm-1 mx-1 btn btn-primary btn-sm">Guardar</button>
            <button class="col-sm-1 mx-1 btn btn-danger btn-sm">Cancelar</button>
        </section>
    </form>
</section>