<section class="py-5">
    <form action="" id="frmLogin" method="post">
        <h1 class="text-center">Detalle de Usuario</h1>
        <section class="row">
            <section class="col-sm-3 form-group">
                <label for="descripcion" class="col-form-label">Descripción:</label>
                <input id="descripcion" type="text" class="form-control form-control-sm" placeholder="Descripción" required>
            </section>
            <section class="col-sm-3 form-group">
                <label for="precio" class="col-form-label">Precio:</label>
                <input id="precio" type="number" class="form-control form-control-sm" placeholder="Precio" required>
            </section>
        </section>
        <section class="form-group my-2">
            <button class="col-sm-1 mx-1 btn btn-primary btn-sm">Guardar</button>
            <button class="col-sm-1 mx-1 btn btn-danger btn-sm">Cancelar</button>
        </section>
    </form>
</section>