@if (abonados.length > 0) {
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>DNI</th>
            <th>Fecha de Nacimiento</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @for (abonado of abonados; track $index) {
        <tr (click)="modificarAbonado(abonado)">
            <td>{{abonado.nombre}}</td>
            <td>{{abonado.apellido1}}</td>
            <td>{{abonado.apellido2}}</td>
            <td>{{abonado.dni}}</td>
            <td>{{abonado.fechaNacimiento}}</td>
            <td>{{abonado.telefono}}</td>
            <td>{{abonado.direccion}}</td>
            <td>
                <button class="btn btn-danger btn-sm mx-2" (click)="eliminarAbonado(abonado.id)">Eliminar</button>
                <button class="btn btn-primary btn-sm mx-2" (click)="modificarAbonado(abonado.id)">Modificar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}@else {
<section class="alert alert-warning my-5">No hay abonados en la base de datos</section>
}