<form action="" id="frmLogin" method="post">
    <h1 class="text-center">Inicio de sesión</h1>
    <section class="row justify-content-center align-items-center">
        <section class="col-sm-7 border border-primary p-4">
            <section class="form-group">
                <label for="usuario" class="col-form-label">Usuario:</label>
                <input id="usuario" type="text" class="form-control form-control-sm" placeholder="Usuario" required>
            </section>
            <section class="form-group">
                <label for="contrasena" class="col-form-label">Contraseña:</label>
                <input id="contrasena" type="password" class="form-control form-control-sm" placeholder="contrasena" required>
            </section>
            <section class="form-group mt-2">
                <input type="submit" value="Iniciar sesión" class="btn btn-primary">
            </section>
        </section>
    </section>
</form>
