@if (reservas.length > 0) {
<table class="table table-hover">
    <thead>
        <tr>
            <th>Pista</th>
            <th>Hora</th>
            <th>DNI Abonado</th>
            <th>Fecha Reserva</th>
            <th>Precio</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @for (reserva of reservas; track $index) {
        <tr>
            <td>{{reserva.pista.tipoPista.descripcion}}</td>
            <td>{{reserva.tipoHora.tramo}}</td>
            <td>{{reserva.abonado.dni}}</td>
            <td>{{reserva.fechaReserva}}</td>
            <td>{{reserva.precioReserva}}</td>
            <td>
                <button class="btn btn-danger btn-sm mx-2" (click)="eliminarReserva(reserva.id)">Eliminar</button>
                <button class="btn btn-primary btn-sm mx-2" (click)="modificarReserva(reserva)">Modificar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}@else {
<section class="alert alert-warning my-5">No hay reservas en la base de datos</section>
}