<section class="py-5">
    <form action="" id="frmLogin" method="post">
        <h1 class="text-center">Detalle de Usuario</h1>
        <section class="row">
            <section class="col-sm-3 form-group">
                <label for="tipoPista" class="col-form-label">Tipo de pista:</label>
            </section>
            <section class="col-sm-3 form-group">
                <label for="techado" class="col-form-label">Techado:</label>
            </section>
            <section class="col-sm-3 form-group">
                <label for="estado" class="col-form-label">Estado:</label>
            </section>
        </section>
        <section class="form-group my-2">
            <button class="col-sm-1 mx-1 btn btn-primary btn-sm">Guardar</button>
            <button class="col-sm-1 mx-1 btn btn-danger btn-sm">Cancelar</button>
        </section>
    </form>
</section>