<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crear nueva pista</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="/js/jquery-3.7.1.js"></script>
	<style>
		body {
			padding-top: 15%;			
			padding-bottom: 15%;
			/* Altura del navbar */
		}
	</style>
</head>

<body class="bg-dark">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-sm fixed-top varbar-success bg-secondary text-white">
		<a class="navbar-brand text-white mx-2" href="#">Polideportivo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<section class="collapse navbar-collapse" id="menu">
			<nav class="navbar-nav mx-2">
				<a href="/pistas/lista" class="nav-link text-white">Pistas</a>
				<a href="/reservas/lista" class="nav-link text-white">Reservas</a>
				<a href="/abonados/lista" class="nav-link text-white">Abonados</a>
				<a href="/trabajadores/lista" class="nav-link text-white">Trabajadores</a>
				<a href="/tipo-hora/lista" class="nav-link text-white">Horas</a>
				<a href="/tipo-pista/lista" class="nav-link text-white">Tipos de pistas</a>
			</nav>
			<section class="row mx-2">
				<a href="/login" class="col-5 mx-2 btn btn-primary">Iniciar Sesión</a>
				<a href="/registro" class="col-5 mx-2 btn btn-primary">Registrarse</a>
			</section>
		</section>
	</nav>

	<main class="container-sm bg-secondary text-white rounded mt-5">
		<form id="pistaForm" class="p-2" th:object="${pista}">

			<h1 class="text-center">Detalle de Pista</h1>
			<section class="row">
				<section class="form-group my-2">
					<label for="tipoPista" class="col-sm-2 form-select-label">Tipo de Pista:</label>
					<select class="col-sm-8 form-select" name="estado" id="estado" th:field="*{tipoPista}">
						<option th:each="tipoPista : ${tipoPistas}" th:text="${tipoPista.descripcion}"
							th:value="${tipoPista.id}"></option>
					</select>
				</section>
				<section class="form-check my-2">
					<label for="techado" class="col-sm-2 form-select-label">Techado:</label>
					<select class="col-sm-8 form-select" name="techado" id="techado" th:field="*{techado}">
						<option value="true">Si</option>
						<option value="false">No</option>
					</select>
				</section>
				<section class="form-group my-2">
					<label for="estado" class="col-sm-2form-select-label">Estado:</label>
					<select class="col-sm-8 form-select" name="estado" id="estado" th:field="*{estado}">
						<option value="MANTENIMIENTO">Mantenimiento</option>
						<option value="ACTIVA">Activa</option>
					</select>
				</section>
			</section>
			<section class="form-group my-2">
				<button type="button" class="col-sm-1 mx-1 btn btn-primary btn-sm" id="btnGuardar">Guardar</button>
				<a href="/pistas/lista" class="col-sm-1 mx-1 btn btn-danger btn-sm">Cancelar</a>
			</section>
		</form>
	</main>

	<script>
		$('#btnGuardar').click(function () {
			const form = document.getElementById('pistaForm');
			const formData = new FormData(form);
			const object = {};
			formData.forEach((value, key) => object[key] = value);
			const json = JSON.stringify(object);

			const url = '/pistas/crear';
			const method = 'POST';

			console.log("URL: " + url);
			console.log("Method: " + method);
			console.log("JSON: " + json);

			fetch(url, {
				method: method,
				headers: {
					'Content-Type': 'application/json'
				},
				body: json
			}).then(response => {
				if (response.ok) {
					// Manejar respuesta exitosa
					window.location.href = "/pistas/lista";
				} else {
					// Manejar errores
					alert("Error al guardar la pista");
				}
			}).catch(error => {
				console.error('Error:', error);
				alert("Error de red al guardar la pista");
			});
		});
	</script>
</body>

</html>