<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado de tipos de pistas</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="/js/jquery-3.7.1.js"></script>
	<style>
		body {
			padding-top: 10%;			
			padding-bottom: 10%;
			/* Altura del navbar */
		}
	</style>
</head>

<body class="bg-dark">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-sm fixed-top varbar-success bg-secondary text-white">
		<a class="navbar-brand text-white mx-2" href="#">Polideportivo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<section class="collapse navbar-collapse" id="menu">
			<nav class="navbar-nav mx-2">
				<a href="/pistas/lista" class="nav-link text-white">Pistas</a>
				<a href="/reservas/lista" class="nav-link text-white">Reservas</a>
				<a href="/abonados/lista" class="nav-link text-white">Abonados</a>
				<a href="/trabajadores/lista" class="nav-link text-white">Trabajadores</a>
				<a href="/tipo-hora/lista" class="nav-link text-white">Horas</a>
				<a href="/tipo-pista/lista" class="nav-link text-white">Tipos de pistas</a>
			</nav>
			<section class="row mx-2">
				<a href="/login" class="col-5 mx-2 btn btn-primary">Iniciar Sesión</a>
				<a href="/registro" class="col-5 mx-2 btn btn-primary">Registrarse</a>
			</section>
		</section>
	</nav>

	<main class="bg-white container rounded p-2 mt-5">
		<h1 class="text-center">Listado de tipo de pistas</h1>
		<a href="/tipo-pista/crear" class="btn btn-primary btn-sm mx-2">Crear tipo de pista</a>
		<section class="table-responsive" th:if="${tipoPistas.size() > 0}">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Descripción</th>
						<th>Precio</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody id="tbodyListado">
					<tr th:each="pista : ${tipoPistas}">
						<td th:text="${pista.descripcion}"></td>
						<td th:text="${pista.precio}"></td>
						<td>
							<button class="btn btn-danger btn-sm mx-2"
								th:attr="onclick='eliminarTipoPista(' + ${pista.id} + ')'">Eliminar</button>
							<a class="btn btn-primary btn-sm mx-2"
								th:href="@{'/tipo-pista/modificar/' + ${pista.id}}">Modificar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section th:if="${tipoPistas.size() == 0}" class="alert alert-warning" id="mensaje">No hay tipos de pistas en la
			base de datos</section>
	</main>

	<script>
		function eliminarTipoPista(id) {
			if (confirm('¿Estás seguro de que deseas eliminar este tipo de pista?')) {
				fetch('/tipo-pista/eliminar/' + id, {
					method: 'DELETE'
				})
					.then(data => {
						window.location.reload();
					})
					.catch(error => console.error('Error:', error));
			}
		}
	</script>
</body>

</html>